﻿@model Web.TaskManagementSystem.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active text-black-50" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="home" aria-selected="true">Log in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="profile" aria-selected="false">Register</a>
    </li>
</ul>
<div class="tab-content card" id="myTabContent">
    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
        <form asp-action="SignIn" class="text-left card border border-light p-4">
            <div class="alert alert-info" role="alert">
                <h4>Login</h4>
            </div>
            <br />
            <div class="form-row mb-6">
                <div class="col">
                    <label asp-for="Email" class="control-label"></label>
                </div>
            </div>
            <div class="form-row">
                <div class="col input-group mb-3">
                    <div class="input-group-prepend">
                        <span asp-validation-for="Email" class="input-group-text" id="basic-addon1">@@</span>
                    </div>
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="form-row mb-6">
                <div class="col">
                    <label asp-for="Password" class="control-label"></label>
                </div>
            </div>
            <div class="form-row">
                <div class="col input-group mb-3">
                    <div class="input-group-prepend">
                        <span asp-validation-for="Password" class="input-group-text" id="basic-addon1">**</span>
                    </div>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
            </div>
                <br />
                <div class="form-row mb-3">
                    <input type="submit" value="Login" class="btn btn-info" />
                </div>
        </form>
    </div>

    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
        <form asp-action="SignUp" class="text-left border border-light p-4">
            <div class="alert alert-success" role="alert">
                <h4>Register</h4>
            </div>
            @if (ViewBag.Error == true)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h6><i>@ViewBag.Message</i></h6>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <br />
            <div class="form-row mb-4">
                <div class="col">
                    <label asp-for="Firstname" class="control-label"></label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Lastname" class="control-label"></label>
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row mb-8">
                <div class="col">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Role" class="control-label"></label>
                    <input asp-for="Role" value="User" disabled="disabled" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-row mb-8">
                <input type="submit" value="Register" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
