﻿@model Web.TaskManagementSystem.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">My Profile</a>
        <a class="nav-item nav-link" id="nav-change-details-tab" data-toggle="tab" href="#nav-change-details" role="tab" aria-controls="nav-change-details" aria-selected="false">Change Personal Details</a>
        <a class="nav-item nav-link" id="nav-change-password-tab" data-toggle="tab" href="#nav-change-password" role="tab" aria-controls="nav-change-password" aria-selected="false">Change Password</a>
    </div>
</nav>
<div class="tab-content card" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Firstname)</label>
                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Lastname)</label>
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Email)</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="form-group col-md-6">
                    <label>@Html.DisplayNameFor(model => model.Telephone)</label>
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>@Html.DisplayNameFor(model => model.Role)</label>
                    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="tab-pane fade" id="nav-change-details" role="tabpanel" aria-labelledby="nav-change-details-tab">
        <form asp-action="Settings">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Firstname)</label>
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Lastname)</label>
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Email)</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Telephone)</label>
                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <hr />
                @Html.HiddenFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Token, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                <div class="form-row mb-6">
                    <input type="submit" value="Change" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="nav-change-password" role="tabpanel" aria-labelledby="nav-change-password-tab">
        <form asp-action="Profile">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.Password)</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                    </div>
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                    </div>
                </div>
                <hr />
                @Html.HiddenFor(model => model.Token, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                <div class="form-row mb-6">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>