﻿@model Web.TaskManagementSystem.ViewModels.TaskViewModel
@{
    ViewBag.Title = "Task new";
}

<form asp-action="Insert" asp-controller="Task">
    <div class="card border-primary mb-5">
        <div class="card-header border-primary">
            <div class="row">
                <label class="col">Task new</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Title</label>
                    <input asp-for="TaskTitle" class="form-control" />
                    <span asp-validation-for="TaskTitle" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Category</label>
                    <select asp-for="CategoryId" class="form-control"
                            asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Assigned To</label>
                    <select asp-for="AssignedTo" class="form-control"
                            asp-items="@(new SelectList(Model.Users,"UserId","Firstname"))"></select>
                    <span asp-validation-for="AssignedTo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Assigned Date</label>
                    <input asp-for="AssignedDate" class="form-control" />
                    <span asp-validation-for="AssignedDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Deadline</label>
                    <input asp-for="Deadline" class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-row mb-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>