﻿@model Web.TaskManagementSystem.ViewModels.TaskViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Task details";
}

   <div class="card border-info mb-5">
        <div class="card-header border-info">
            <div class="row">
                <label class="col">Task details</label>
            </div>
        </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Deadline</label>
                @Html.EditorFor(model => model.TaskTitle, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>Deadline</label>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Deadline</label>
                @Html.EditorFor(model => model.Deadline, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>Deadline</label>
                @Html.EditorFor(model => model.AssignedDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Assigned to</label>
                @Html.EditorFor(model => model.User.Firstname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>Category</label>
                @Html.EditorFor(model => model.Category.CategoryName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <hr />
        @if (@Context.Session.GetString("Role") == "Admin")
        {
            <a asp-action="Update" class="btn btn-info" asp-route-id="@Model.TaskId">Edit</a>
        }
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-header">
        <div class="row">
            <label class="col">@Html.DisplayFor(model => model.Comments.Count) comments</label>
        </div>
    </div>
    <div class="row p-12">
        @foreach (var item in Model.Comments)
        {
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-11">
                                <span class="badge badge-dark" height:20px">
                                    @Html.DisplayFor(modelItem => item.User.Firstname)
                                    @Html.DisplayFor(modelItem => item.User.Lastname)
                                </span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                @Html.DisplayFor(modelItem => item.CommentText)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (@Context.Session.GetString("IsStateLogged") == "true")
    {
        <div class="row p-2">
            <div class="col-sm-12" align="right">
                <a asp-action="Create" asp-controller="Comment" class="btn btn-outline-primary">Add new comment</a>
            </div>
        </div>
    }
</div>
<style>
    #carImage {
        width: 30%;
        border: 1px solid #17A2B8;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
</style>