﻿@model Web.TaskManagementSystem.ViewModels.FilterTaskViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <form asp-action="List" method="get" asp-controller="Task">
        <div class="form-row">
            <div class="form-group col-md-5">
                <input asp-for="Task.TaskTitle" placeholder="Title" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <input asp-for="Task.Description" placeholder="Description" class="form-control" />
            </div>
            <div class="form-group col-md-1" align="right">
                <input type="submit" value="Search" class="btn btn-success" />
            </div>
        </div>
    </form>
@if (@Context.Session.GetString("IsStateLogged") == "true")
{
    <div class="row" style="margin-bottom:10pt">
        <div class="col-sm-12" align="right">
            <a asp-action="Create" class="btn btn-outline-primary">Create new task</a>
        </div>
    </div>
}
<div class="list-group card">
    @foreach (var item in Model.Tasks)
    {
        <a class="list-group-item list-group-item-action flex-column align-items-start" asp-action="Details" asp-route-id="@item.TaskId">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@Html.DisplayFor(modelItem => item.TaskTitle)</h5>
                <small>@Html.DisplayFor(modelItem => item.Category.CategoryName)</small>
                <small>@Html.DisplayFor(modelItem => item.CreatedDate)</small>
                <small>@Html.DisplayFor(modelItem => item.User.Firstname)</small>
            </div>

            <p class="mb-1">@Html.DisplayFor(modelItem => item.Description)</p>
        </a>
        @if (@Context.Session.GetString("Role") == "Admin")
        {
            <div class="card-footer">
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.TaskId">Details</a>
                <a asp-action="Update" class="btn btn-outline-warning" asp-route-id="@item.TaskId">Edit</a>
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.TaskId">Delete</a>
            </div>
        }
        <br />
    }
</div>
