﻿@model Web.TaskManagementSystem.ViewModels.TaskViewModel
@{
    ViewBag.Title = "Task edit";
}

<div class="card border-warning mb-5">
    <div class="card-header border-warning">
        <div class="row">
            <label class="col">Task edit</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Task Title</label>
                <input asp-for="TaskTitle" class="form-control" />
                <span asp-validation-for="TaskTitle" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Deadline</label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Assigned To</label>
                <select asp-for="AssignedTo" class="form-control"
                        asp-items="@(new SelectList(Model.Users,"UserId","Firstname"))"></select>
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Assigned Date</label>
                <input asp-for="AssignedDate" class="form-control" />
                <span asp-validation-for="AssignedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="form-row mb-6">
            <input asp-for="TaskId" class="form-control" hidden="hidden" />
            <input type="submit" value="Edit" class="btn btn-warning" />
        </div>

    </div>
</div>
<br />
