﻿@using Microsoft.AspNetCore.Http;
﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Task Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/communication-1-2/256/Team-512.png" />
</head>
<body>

    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://freeiconshop.com/wp-content/uploads/edd/task-done-flat.png" width="30" height="30"> <label class="text-white">Task Management System</label>
                </a>

                <!-- Centered link -->
                <div class="topnav-centered">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Task" asp-action="List">Tasks</a>
                        </li>
                        @if (@Context.Session.GetString("Role") == "Admin")
                        {

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Category" asp-action="List">Category</a>
                            </li>
                        }
                        @if (@Context.Session.GetString("Role") == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="List">User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Comment" asp-action="List">Comment</a>
                            </li>
                        }
                    </ul>

                </div>
                <div>
                    <ul class="navbar-nav flex-grow-1 ">
                        @if (@Context.Session.GetString("IsStateLogged") != "true")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Account">Account</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="SignOut">Sign Out</a>
                            </li>
                        }
                    </ul>
                        <ul class="navbar-nav flex-grow-1">

        <li class="nav-item ">


            <div class="btn-group ">


                <div class="dropdown-menu">
                    @if (@Context.Session.GetString("IsStateLogged") != "true")
                    {
                        <a class="nav-item" asp-area="" asp-controller="User" asp-action="SignIn">Log in</a>

                        <a class="nav-item" asp-area="" asp-controller="User" asp-action="SignUp">Register</a>
                    }
                    @if (@Context.Session.GetString("IsStateLogged") == "true")
                    {
                        <a class="nav-item" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>

                        <a class="nav-item" asp-area="" asp-controller="User" asp-action="SignOut">Sign Out</a>
                    }
                </div>
            </div>


                    </li>
                    </ul>
                </div>
</div>
        </nav>
    </header>
    <div class="container body-content">
        <br /> <br /><br /><br />
        @RenderBody()
        <br />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Task Management System</p>
        </footer>
    </div>
    @*cripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
