﻿@{
    ViewData["Title"] = "Home";
}
    <div class="card">
        <div class="card-header">
            <h4 style="text-align: center">Task Management System</h4>
        </div>

        <div class="card-body">
            <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac ut consequat semper viverra nam. Gravida neque convallis a cras semper auctor neque vitae tempus. Augue ut lectus arcu bibendum at. Vel elit scelerisque mauris pellentesque pulvinar. Nibh praesent tristique magna sit amet purus gravida quis blandit. Fames ac turpis egestas integer. Eget nunc scelerisque viverra mauris. Cursus in hac habitasse platea. Fusce id velit ut tortor pretium viverra suspendisse. Malesuada fames ac turpis egestas sed tempus urna. Dictum fusce ut placerat orci nulla pellentesque dignissim enim sit. Quis varius quam quisque id diam vel. Nisi est sit amet facilisis magna. Imperdiet sed euismod nisi porta. Commodo odio aenean sed adipiscing diam. Nibh ipsum consequat nisl vel pretium lectus quam id leo. </p>
            <img style="width: 100%; border-radius: 8px;"src="https://i.imgur.com/BQiwIk6.png">
        </div>
       

    </div>