﻿@model Web.TaskManagementSystem.ViewModels.CommentViewModel
@{
    ViewData["Title"] = "Comment details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card border-info mb-5">
    <div class="card-header border-info">
        <div class="row">
            <label class="col">Comment details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>@Html.DisplayNameFor(model => model.CommentText)</label>
                @Html.EditorFor(model => model.CommentText, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <hr />
        <a asp-action="Update" class="btn btn-info" asp-route-id="@Model.CommentId">Edit</a>
    </div>
</div>
