﻿@model Web.TaskManagementSystem.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Category details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card border-info mb-5">
    <div class="card-header border-info">
        <div class="row">
            <label class="col">Category details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.CategoryName)</label>
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <hr />
        <a asp-action="Update"  class="btn btn-info" asp-route-id="@Model.CategoryId">Edit</a>
    </div>
</div>
