﻿@model IEnumerable<Web.TaskManagementSystem.ViewModels.CategoryViewModel>
@{
    ViewData["Title"] = "Category list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row p-2">
        <div class="col-sm-12" align="right">
            <a asp-action="Create" class="btn btn-outline-primary">Create new category</a>
        </div>
    </div>
    <div class="row p-2">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Html.DisplayFor(category => item.CategoryName)</h5>
                    </div>
                    <div class="card-body">
                        <a asp-action="Details" asp-controller="Category" class="btn btn-outline-info" asp-route-id="@item.CategoryId">Details</a>
                        <a asp-action="Update" asp-controller="Category" class="btn btn-outline-warning" asp-route-id="@item.CategoryId">Edit</a>
                        <a asp-action="Delete" asp-controller="Category"  class="btn btn-outline-danger" asp-route-id="@item.CategoryId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
